p {
	color: blue;
}

html, body{
	background-color:brown;
	min-height: 100%
}

.headimg_container {
    height: 200px;
    width: auto;   
}

.header_image{
	width:100%;
	max-height:200px;
}

.header_container {
    background: blue;
    height: 20px;
    width: auto;   
}

.links{
	background-color: black;
}

.main{
	background-color: #FFFFFF;
	margin-left: auto;
 	margin-right: auto;
 	float: none;
 	text-align: center;
 	height: 100%;
}

.foot{
	background-color: #81c784 !important;
	
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em
}