p {
	color: blue;
}

html, body{
	background-color:brown;
	height:100%;
}

.headimg_container {
    height: 200px;
    width: auto;  
	padding:1em;
	border-bottom:6px double gray;	
}

.header_image{
	width:100%;
	max-height:200px;
}

.header_container {
	padding:1em;
	border-bottom:6px double gray;
    background: blue;
    height: 20px;
    width: auto;   
}

.links{
	background-color: black;
}

.main{
	position: relative;
	padding:1em 1em 5em;
	background-color: #FFCC99;
	margin-left: auto;
 	margin-right: auto;
 	text-align: center;
 	height: 100%;
}

.foot{
	bottom:0;
	width:100%;
	background-color: #81c784;	
	border-top:6px double gray;
	padding:1em;
	margin:auto;
	clear:both;
}